/* @import 'prismjs/themes/prism-okaidia.css'; */

:root {
  --bg-color: #fff;
  --text-color: #4b4b4c;
  --link-color: hsla(204, 100%, 39%, 1);
  --border-color: #ececed;
  --border-radius: 4px;
  --code-bg-color: #fbfbfc;

  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

::selection {
  background-color: yellow;
  color: var(--text-color);
  text-shadow: none;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.618;
}

a { display: inline-flex }

:any-link {
  color: var(--link-color);
}

sup {
  font-size: 0.75rem;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.15em;
}

h2 {
  font-size: 2rem;
  font-weight: 200;
}

h3 {
  font-size: 1.2rem;
  font-weight: 200;
}

section {
  padding: 2rem 0;
  border-bottom: 1px solid var(--border-color);

  &:last-child { border-bottom-width: 0 }
}

code {
  background-color: var(--code-bg-color);
  display: inline-block;
  padding: 1em 1em;
}
code[class*="language-"],
pre[class*="language-"] {
  font-family: monospace;
  background: var(--text-color);
  color: var(--bg-color);
  padding: 1rem;
  border-radius: 4px;
}

details { cursor: pointer }

footer { padding: 0.5rem 0 1rem; }

.main-content { padding: 0 15px; }

.wrapper {
  max-width: 66ch;
  width: 100%;
  margin: 0 auto;
}

.box {
  border: 2px solid var(--border-color);
  border-radius: var(--border-radius);
}

.intro {
  padding-bottom: 0;
  border-bottom: 0;
}

.badge {
  /* background: linear-gradient(90deg, #66d9ef, #ae81ff); */
  background-color: var(--link-color);
  color: var(--bg-color);
  font-weight: 500;
  padding: 0.25em 0.3em;
  border-radius: var(--border-radius);
  margin-left: 0.25em;
}
.install-cli-wrapper {
  padding-right: 1em;
  background-color: var(--code-bg-color);

  & code { padding: 0.7rem 1rem }

  & a {
    filter: grayscale(1) opacity(0.5);
    margin: 0 0 0 0.75em;
    transition: filter 200ms linear;
    &:hover {
      filter: grayscale(0) opacity(1);
    }
  }
}

.demo-container {
  & code {
    font-size: .8rem;
    width: 100%;
    border-top: 1px solid var(--border-color);
  }
}

.demo-color-circle {
  display: inline-flex;
  width: 10px;
  height: 10px;
  background-color: var(--demo-color);
  border-radius: 5px;
}

.colors {
  position: relative;
  display: flex;

  width: 100%;
  height: 2rem;
  overflow: hidden;
  border-radius: var(--border-radius) var(--border-radius) 0 0;

  & > .color {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    font-size: 0.6rem;
    /* font-weight: bold; */
  }

  & > .orig {
    box-shadow:
      inset 0 0 0 1px #4b4b4c80,
      inset 0 0 0 2px #fbfbfc80;
  }
}

.flex { display: flex }
.aic { align-items: center }
.flex-auto { flex: 1 }
.center { text-align: center }
.mb1 { margin-bottom: 1rem }
.mb2 { margin-bottom: 2rem }

.di::after { content: 'Click' }
@media (hover: none) and (pointer: coarse) {
    .di::after { content: 'Tap' }
}
